{% extends 'accounts/base.html' %}

{% block content %}

{% ifequal error 'no' %}
<script>
	alert("password changed successfully...");
	window.location=('{% url 'signout' %}');
</script>

{% endifequal %}

{% ifequal error 'yes' %}
<script>
	alert("password not matched...");
	
</script>

{% endifequal %}


<div class="container-fluid card col-md-4 mt-5" style="background-color: lightyellow">
	<h1 class="text-center">Changepassword</h1>

	<form action="#" method="POST">
		{% csrf_token %}
		<b><div class="form-group ">
			<label for="oldpwd">OldPassword:</label>
			<input type="password" class="form-control" name="oldpwd" placeholder="Enter old password" id="oldpwd" required="true">
		</div>

<div class="form-group ">
			<label for="newpwd">NewPassword:</label>
			<input type="password" class="form-control" name="newpwd" placeholder="Enter new password" id="newpwd" required="true">
		</div>

<div class="form-group ">
			<label for="conpwd">ConfirmPassword:</label>
			<input type="password" class="form-control" name="conpwd" placeholder="Re enter password" id="conpwd" required="true">
		</div>

<div class="text-center">
	<input type="submit" value="Change" class="btn btn warning">
</div>




{% endblock %}