<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" meta charset="UTF-8">
  <style>@media screen and (max-width: 600px) {
  img{
    height: auto;
    width: 100%
  }
}

@media screen and (max-width: 600px) {
  img{
    height: auto;
    width: 100%;
  }
  }
  </style>
<body>
 <div class="separator" style="clear: both;"><a href="https://1.bp.blogspot.com/-DxXnIwlN8EM/X0ZlotSc6TI/AAAAAAAAAOo/CyMzUQFGpdQQg8vKAXymGAUgGzKgRt1awCLcBGAsYHQ/s648/Michael_Faraday.jpg" style="display: block; padding: 1em 0; text-align: center; background-color: rgb(255, 255, 255);"><img alt="" border="0" width="400" class="center" data-original-height="599" data-original-width="648" src="https://1.bp.blogspot.com/-DxXnIwlN8EM/X0ZlotSc6TI/AAAAAAAAAOo/CyMzUQFGpdQQg8vKAXymGAUgGzKgRt1awCLcBGAsYHQ/s400/Michael_Faraday.jpg"/></a></div>
  
  
  <h1
  style= "box-sizing: border-box; margin: 18px 0px; font-size: 30px; font-family: sans-serif; font-weight: 500; line-height: normal; color:red; position:center; padding: 1px;text-align: center;"
>
  Michael Faraday
</h1>
<div
  class="singlemeta"
  style='box-sizing: border-box; margin: 0px 0px 26px; font-family: "Open Sans", sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);'
>
  <ul style="box-sizing: border-box; margin: 0px; padding: 0px;"></ul>
</div>
<p
  style='box-sizing: border-box; margin: 0px; color: blue; font-size: 16px; line-height: 20.8px; padding: 10px 0px; font-family:cursive; background-color: rgb(255, 255, 255);'
>
  On Sept. 22, 1791 Michael Faraday was born in the mew in Newington Butts, the
  third of four children. In my research on Faraday, more than one writer noted
  that he was a boy genius who attended elementary school and had a rudimentary
  education in which he learned math and science. He didn’t. What education he
  received came from his mother who was taught by her mother. The conclusion
  suggesting he was “school-educated”<br style="box-sizing: border-box;" />is
  flawed since in the early 1800s England did not have any public schools (like
  those we attended in the 20th century), or that those who attended those
  public schools received free educations. There were some private elementary
  schools for the wealthy who paid the tuition for their enrolled children.
</p>
<p
  style='box-sizing: border-box; margin: 0px; color: blue; font-size: 16px; line-height: 20.8px; padding: 10px 0px; font-family: cursive, sans-serif; background-color: rgb(255, 255, 255);'
>
  Faraday believed he could change the bond angle of water in order to produce
  electricity (something John Ellis would ultimately do).&nbsp;Ellis was
  convinced he could permanently change the healthy attributes of water by
  permanently changing its hydrogen bond angle sufficiently to make the water we
  drink as healthy as the water which Adam and Eve sipped in the Garden of Eden.
</p>
<p
  style='box-sizing: border-box; margin: 0px; color: blue; font-size: 16px; line-height: 20.8px; padding: 10px 0px; font-family: cursive, sans-serif; background-color: rgb(255, 255, 255);'
>
  Two men, Michael Faraday and his 20th century twin scientist, John C. Ellis,
  began lifetime quests to permanently change the bond angle of the hydrogen in
  water—but with two distinct and entirely different core objectives in mind.
  Faraday succeeded with what he was attempting to achieve: create an
  electromagnetic field by changing the bond angle of hydrogen in water. His
  research on electrolysis led to the creation of electro-magnetism.<br
    style="box-sizing: border-box;"
  />Using a primitive electro-magnetic rotary devise, Faraday created the
  foundation of electric motor technology. Changing the bond angle of the
  hydrogen in the water was what fueled Faraday’s electric power.
</p>
<p
  style='box-sizing: border-box; margin: 0px; color: blue; font-size: 16px; line-height: 20.8px; padding: 10px 0px; font-family: cursive, sans-serif; background-color: rgb(255, 255, 255);'
>
               John Ellis pretty much began where Faraday left off when he died. Ellis got
  his degree in steam plant design and environmental engineering at the
  University of Indiana. When you examine the history of these two men—Faraday
  and Ellis—it’s almost as though they shared the same brain in an expanded
  window of time. Faraday was the first scientist to discover nanoparticles of
  metal pollution in water. By distilling and re-distilling water over 100 times
  as he purified and re-purified the same water as many times, John Ellis
  changed the nature of water and brought it as close to the water in the Garden
  of Eden as any mortal man could.
</p>
<p
  style='box-sizing: border-box; margin: 0px; color: blue; font-size: 16px; line-height: 20.8px; padding: 10px 0px; font-family: cursive, sans-serif; background-color: rgb(255, 255, 255);'
>
  Just as Michael Faraday was one decade short of being born in the 17th
  century, and John C. Ellis was born 29 years short of being born in the 19th
  instead of the 20th. Nikola Tesla was born in the 19th. Unlike many of the
  brilliant scientific minds in the 18th and 19th centuries who were either
  self-taught, tutored at home or in a boarding school (which Faraday missed
  completely), John C. Ellis, who was born on May 29, 1929, went to an exclusive
  prep school (much like those quality prep schools attended by history’s famous
  luminaries like Humphry Davy, Thomas Brand, the 20th Baron Dacre, and scores
  of the offspring of the rich and famous 18th and 19th century Illuminati who
  attended some of America’s early prep schools like the famous Choate School
  for young men (founded in 1896 (which followed the creation of Rosemary Hall—a
  private school for women and orphans in 1890 whose husbands and or fathers
  died serving the blue and the grey during the American Civil War).
</p>
</body>